body {
    background-color: rgb(62, 22, 34);
    color: aliceblue;
}

h1, p {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.2fr;
    gap: 10px 0px;
    grid-template-areas: 
        "pack-name pack-name pad-header pad-header"
        "pad-container pad-container video video"
        "pad-container pad-container pad-buttons pad-buttons"
        "footer footer footer footer"
    ;
    height: 550px;
    margin: auto;
    width:80%;
    background-image: url("Vice-City-wallpaper.jpg");
    background-size: cover;
    align-content: center;
    border: 5px pink groove;
    box-shadow: 1px 2px 3px black;
}

.pack-name, .pad-header, h3, .footer {
    color: rgb(243, 214, 249);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(162, 245, 240);
}

.pack-name {
    grid-area: pack-name;
    text-align: center;
    margin-top: 20px;
    margin-right: 100px;
}

.pad-header {
    grid-area: pad-header;
    display: inline-block;
    /* text-align:center; */
    font-variant: small-caps;
    margin-right: 23px;
    
}

.pack-name, .pad-header {
    align-items:flex-start;
}

.pad-container {
    grid-area: pad-container;
    display: grid;
    column-gap: 50px;
    grid-template-columns: 40px 40px 40px 40px;
}

.pad-item {
    position:relative;
    width: 75px;
    height: 75px;
    margin: 5px;
    margin-left: 100%;
    background-color: rgb(42, 40, 40);
    box-shadow: 1px 2px 3px black;
    color: darkgrey;
    text-align: center;
    font-weight: lighter;
}

.container, .pad-item, .video {
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
}

.video {
    grid-area: video;
    max-width: 450px;
    max-height: 200px;
    color: darkgrey;
    background-color: rgb(42, 40, 40);
    border-radius: 10px 10px 10px 10px;
    border-style: inset;
    border-width: thick;  
}

.pad-buttons {
    grid-area: pad-buttons;
}

.footer {
    grid-area: footer;
    max-height: fit-content;
    text-align: center;
}

.pad-item:hover {
    background-color: rgb(243, 214, 249);
    box-shadow: 0px 0px 5px rgb(243, 214, 249);
    cursor: pointer;
}

h3 {
    font-size: xx-large;
    -webkit-transform: scale(2, 2);
    letter-spacing: 8px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.pad-header > p {
    color: rgb(243, 214, 249);
    border-top: double;
    border-width: thick;
    border-color:  rgb(243, 214, 249);
    letter-spacing: 8px;
    margin-top: 1px;
    margin-right: 20px;
}

button {
    align-content: center;
    margin: 10px;
    width: 90px;
    height:50px;
    cursor: pointer;
    background-color: rgb(42, 40, 40);
    box-shadow: 1px 2px 3px black;
    color: darkgrey;
}

.pause {
    border-radius: 10px 10px 10px 100px;
}

.play {
    border-radius: 100px 10px 10px 10px;
}

.stop {
    border-radius: 10px 100px 10px 10px;
}

.save {
    border-radius: 10px 10px 100px 10px;
}

.forward, .backward, .add {
    border-radius: 5px 5px 5px 5px;
}

.add {
    width: 205px;
}






